<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- 日志文件输出到目录 -->
    <property name="LOG_DIR" value="${catalina.base}/logs" />

    <!-- 日志文件前缀 -->
    <property name="LOG_PREFIX" value="Achelous-manager" />

    <!-- 默认日志输出格式 -->
    <property name="LOG_MSG" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p [%c-%L] - %m%n" />


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <pattern>${LOG_MSG}</pattern>
		</encoder>
	</appender>

    <!-- DEBUG日志输出 -->
    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_PREFIX}_debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_PREFIX}_debug.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_MSG}</pattern>
        </encoder>

    </appender>

    <!-- INFO日志输出 -->
    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_PREFIX}_info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_PREFIX}_info.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_MSG}</pattern>
        </encoder>

    </appender>


    <!-- ERROR日志输出 -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_PREFIX}_error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_PREFIX}_error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_MSG}</pattern>
        </encoder>

    </appender>


	<root level="${log.level}">
		<appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR_LOG" />
        <appender-ref ref="INFO_LOG" />
        <appender-ref ref="DEBUG_LOG" />
	</root>
</configuration>